In [1]:
import random
import pandas as pd

# Data awal
kota = ["Jakarta Timur", "Jakarta Barat", "Jakarta Selatan", "Jakarta Utara", "Jakarta Pusat"]
kelompok_umur = ["15-19 tahun", "20-24 tahun", "25-29 tahun", "30-34 tahun", "35-39 tahun"]
jumlah_sampel = 180

# Data asli (misalkan sudah ada data sebelumnya)
# ... (kode untuk memuat data asli)
# Contoh data asli (hanya sebagai contoh)
data_asli_saldo = [1000000, 2000000, 1500000, 500000, 3000000]
data_asli_top_up = [200000, 300000, 250000, 100000, 500000]
data_asli_transaksi = [10, 5, 7, 12, 8]
data_asli_alasan = ["Belanja", "Makan", "Transportasi", "Hiburan", "Bayar Tagihan"]
data_asli_kegiatan = ["Belanja Online", "Makan di Restoran", "Naik TransJakarta", "Menonton Film", "Pembayaran Listrik"]

# Fungsi untuk membuat dataset baru secara acak berdasarkan kota dan kelompok umur
def create_augmented_dataset(kota, kelompok_umur, jumlah_sampel):
    kota_random = random.choice(kota)
    kelompok_umur_random = random.choice(kelompok_umur)
    saldo = random.choices(data_asli_saldo, k=jumlah_sampel)
    top_up = random.choices(data_asli_top_up, k=jumlah_sampel)
    transaksi = random.choices(data_asli_transaksi, k=jumlah_sampel)
    alasan = random.choices(data_asli_alasan, k=jumlah_sampel)
    kegiatan = random.choices(data_asli_kegiatan, k=jumlah_sampel)
    
    df = pd.DataFrame({
        "Kota": [kota_random] * jumlah_sampel,
        "Kelompok Umur": [kelompok_umur_random] * jumlah_sampel,
        "Saldo": saldo,
        "Top-up": top_up,
        "Transaksi": transaksi,
        "Alasan": alasan,
        "Kegiatan": kegiatan
    })
    
    return df

# Augmentasi 500 dataset baru
all_datasets = []
for _ in range(500):
    all_datasets.append(create_augmented_dataset(kota, kelompok_umur, jumlah_sampel))

# Gabungkan semua dataset menjadi satu DataFrame
augmented_data = pd.concat(all_datasets, ignore_index=True)

# Contoh hasil data augmentasi
augmented_data.head()

            Kota Kelompok Umur    Saldo  Top-up  Transaksi         Alasan  \
0  Jakarta Utara   35-39 tahun  2000000  250000         10        Hiburan
1  Jakarta Utara   35-39 tahun  3000000  250000          8  Bayar Tagihan
2  Jakarta Utara   35-39 tahun  1500000  250000          7        Belanja
3  Jakarta Utara   35-39 tahun  1500000  100000          7  Bayar Tagihan
4  Jakarta Utara   35-39 tahun   500000  500000         10        Belanja

             Kegiatan
0  Pembayaran Listrik
1   Naik TransJakarta
2      Belanja Online
3  Pembayaran Listrik
4      Belanja Online

In [5]:
augmented_data.head(100)

,Kota,Kelompok Umur,Saldo,Top-up,Transaksi,Alasan,Kegiatan
0,Jakarta Utara,35-39 tahun,2000000,250000,10,Hiburan,Pembayaran Listrik
1,Jakarta Utara,35-39 tahun,3000000,250000,8,Bayar Tagihan,Naik TransJakarta
2,Jakarta Utara,35-39 tahun,1500000,250000,7,Belanja,Belanja Online
3,Jakarta Utara,35-39 tahun,1500000,100000,7,Bayar Tagihan,Pembayaran Listrik
4,Jakarta Utara,35-39 tahun,500000,500000,10,Belanja,Belanja Online
...,...,...,...,...,...,...,...
95,Jakarta Utara,35-39 tahun,1000000,200000,8,Transportasi,Pembayaran Listrik
96,Jakarta Utara,35-39 tahun,2000000,100000,8,Transportasi,Pembayaran Listrik
97,Jakarta Utara,35-39 tahun,500000,200000,12,Transportasi,Menonton Film
98,Jakarta Utara,35-39 tahun,500000,250000,8,Makan,Makan di Restoran
99,Jakarta Utara,35-39 tahun,3000000,250000,12,Belanja,Naik TransJakarta